@page
@model FizzBuzz.Pages.NumberModel
@{
    ViewData["Title"] = "Zapisane w sesji";
}
<h1>@ViewData["Title"]</h1>

@if (NumberModel.PrevNum.Count != 0)
{
    foreach (var item in NumberModel.PrevNum)
    {
<p>
    @(NumberModel.PrevNum.IndexOf(item)+1).
    <label>
        <u>Liczba:</u>
        @item.Number
        @if (item.Result != "")
        {
            <label>
                <u> Wynik:</u>
                @item.Result
            </label>
        }
        <u>Data:</u>
        @item.Time
    </label>
</p>
    }

}
else
{
<p> Brak wyników </p>
}